a strong, a img {
cursor: pointer;
}

h1 {
font-size: 2.2em;
}

.boffset {margin-bottom: .5em;}
.roffset {margin-right: .5em;}

.centered {text-align:center;}
.small { font-size:1.3rem; }

.buttons a {
margin-bottom: .2em;
}

.col-2 {
-moz-column-count: 2;
-moz-column-gap: 10px;
-webkit-column-count: 2;
-webkit-column-gap: 10px;
column-count: 2;
column-gap: 10px;
}

.navbar-inverted {
background: #222;
}
.navbar-brand {
background: url('/img/guitarstreams-logo-32.png') no-repeat scroll 0px 14px transparent;
padding-left: 40px;
}
.navbar-collapse.collapse {
padding-right:0;
}
.navbar ul.share a {
width:90%;
margin:2% 5% 5%;
font-size:1.1em;
}

/* front page */
.featured {
background-color: #eee;
font-size: 2rem;
padding: 4rem 0;
}
.featured h1 {
margin-top: 0;
}

/* chord chart */
.chord-chart {
float: left;
min-width: 100px;
width: 16.66%;
}

.chord-chart a {
color: inherit;
}

.chord-chart h3 {
font-size: 2rem;
font-weight: bold;
text-align: center;
}

/* gallery */
.design-preview img {
width: 100%;
}
.design-preview figure {
position: relative;
}
.design-preview figcaption {
background-color: rgba(255, 255, 255, .85);
bottom: 0;
font-size: .9em;
padding: .2em;
position: absolute;
text-align: center;
}

.design .btn {
font-size: 1.4em;
margin-bottom: .5em;
margin-right: .2em;
}